<!doctype html>
<html>
    <head>
      {% if title %}
        <title>{{ title }}</title>
      {% else %}
        <title>filmogram</title>
      {% endif %}
      <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div>
          <img src="../static/assets/logo.png" class="logo" alt="logo">
          <a  href="{{ url_for('index') }}">Главная</a>
          {% if current_user.is_anonymous %}
          <a href="{{ url_for('login') }}">Войти</a>
          {% else %}
          <a href="{{ url_for('user', username=current_user.username) }}">Избранное</a>
          <a href="{{ url_for('logout') }}">Выйти</a>
          {% endif %}
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
