<!doctype html>
<html>
    <head>
      {% if title %}
        <title>{{ title }}</title>
      {% else %}
        <title>filmogram</title>
      {% endif %}
      <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
      <nav>
        <img src="../static/assets/logo.png" class="logo" alt="logo">
        <div class="nav_links">
          <a  href="{{ url_for('index') }}" class="{% if request.path == url_for('index') %}active{% endif %}">Главная</a>
          {% if current_user.is_anonymous %}
          <a href="{{ url_for('login') }}" class="{% if request.path == url_for('login') %}active{% endif %}">Войти</a>
          {% else %}
          <a href="{{ url_for('user', username=current_user.username) }}" class="{% if request.path == url_for('user', username=current_user.username) %}active{% endif %}">Избранное</a>
          <a href="{{ url_for('logout') }}" class="{% if request.path == url_for('logout') %}active{% endif %}">Выйти</a>
          {% endif %}
        </div>
      </nav>
        {% block content %}{% endblock %}
    </body>
</html>
